name: releaseBuild.yml

on:
  push:
    branches:
     - main

jobs:
  release:
    # If the commit is tagged with a version (e.g. "v1.0.0"),
    # release the app after building
    # if: ${{ startsWith(github.ref, 'refs/tags/v') }}

    strategy:
      matrix:
        os: [macos-latest, ubuntu-latest, windows-latest]

    runs-on: ${{ matrix.os }}
    env:
      YARN_ENABLE_IMMUTABLE_INSTALLS: "false"

    steps:
      - name: Check out Git repository
        uses: actions/checkout@v4

      - name: Install Node.js, NPM and Yarn
        uses: actions/setup-node@v4
        with:
          node-version: 20

      - name: Enable Corepack
        run: corepack enable

      - name: Install dependencies
        run: yarn install
        env:
          YARN_ENABLE_SCRIPTS: "false"

      - name: Build/release Electron app
        run: yarn run dist
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
